	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/03/2019 09:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-user:before { content: "\f100"; }
.flaticon-writing:before { content: "\f101"; }
.flaticon-settings-work-tool:before { content: "\f102"; }
.flaticon-image:before { content: "\f103"; }
.flaticon-blog-comment-speech-bubble-symbol:before { content: "\f104"; }
.flaticon-chat:before { content: "\f105"; }
.flaticon-angle-arrow-pointing-to-right:before { content: "\f106"; }
.flaticon-angle-pointing-to-left:before { content: "\f107"; }
.flaticon-double-right-arrows-angles:before { content: "\f108"; }
.flaticon-down-arrow:before { content: "\f109"; }
.flaticon-calendar:before { content: "\f10a"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f10b"; }
.flaticon-telephone:before { content: "\f10c"; }
.flaticon-envelope:before { content: "\f10d"; }
.flaticon-behance-logo:before { content: "\f10e"; }
.flaticon-behance:before { content: "\f10f"; }
.flaticon-facebook-logo:before { content: "\f110"; }
.flaticon-facebook-letter-logo:before { content: "\f111"; }
.flaticon-twitter-logo-silhouette:before { content: "\f112"; }
.flaticon-dribbble-logo:before { content: "\f113"; }
.flaticon-dribbble-social-outlined-symbol:before { content: "\f114"; }
.flaticon-skype-logo:before { content: "\f115"; }
.flaticon-computer-graphic:before { content: "\f116"; }
.flaticon-cms:before { content: "\f117"; }
.flaticon-laptop:before { content: "\f118"; }
.flaticon-agreement:before { content: "\f119"; }
.flaticon-books-stack-of-three:before { content: "\f11a"; }
.flaticon-wrench:before { content: "\f11b"; }
.flaticon-financial:before { content: "\f11c"; }
.flaticon-progress-report:before { content: "\f11d"; }
.flaticon-add:before { content: "\f11e"; }
.flaticon-add-1:before { content: "\f11f"; }
.flaticon-photo:before { content: "\f120"; }
.flaticon-photo-1:before { content: "\f121"; }
.flaticon-video-player:before { content: "\f122"; }