.readon, 
.tc-header .tc-navbar .uk-navbar-nav > li > a:after, 
.tc-slider .down-arrow a, 
.filter-style1 ul li.uk-active a, 
.filter-style1 ul li a:hover, 
.uk-modal-dialog .uk-close, 
.uk-slidenav-position .uk-slidenav:after, 
.post-grid-style1 .post-grid-img .post-date,
.tc-footer, 
#tc-offcanvas .uk-offcanvas-bar, 
.tc-navbar .uk-nav-navbar>li>a:focus, 
.tc-navbar .uk-nav-navbar>li>a:hover, 
.tc-tags a {
    background: #6766db;
    background-image: linear-gradient(135deg,#605cee,#7571c8);
}
.title1:before, 
.filter-style1 ul:after {
    background: #6766db;
    background-image: linear-gradient(135deg,#605cee,#fff);
}
.filter-style1 ul:before {
    background: #6766db;
    background-image: linear-gradient(-135deg,#605cee,#fff);
}
.readon:before {
    background: #4746b1;
}
.tc-header .tc-logo a, 
.tc-footer .tc-totopscroll, 
.tc-off-toggle {
	color: #6766db;
}
.tc-off-toggle:hover, .tc-off-toggle:focus {
	color: #534fb5;
}