.readon, 
.tc-header .tc-navbar .uk-navbar-nav > li > a:after, 
.tc-slider .down-arrow a, 
.filter-style1 ul li.uk-active a, 
.filter-style1 ul li a:hover, 
.uk-modal-dialog .uk-close, 
.uk-slidenav-position .uk-slidenav:after, 
.post-grid-style1 .post-grid-img .post-date,
.tc-footer, 
#tc-offcanvas .uk-offcanvas-bar, 
.tc-navbar .uk-nav-navbar>li>a:focus, 
.tc-navbar .uk-nav-navbar>li>a:hover, 
.tc-tags a {
    background: #ed1b34;
    background-image: linear-gradient(135deg,#ed1b34,#9e071c);
}
.title1:before, 
.filter-style1 ul:after {
    background: #ed1b34;
    background-image: linear-gradient(135deg,#ed1b34,#fff);
}
.filter-style1 ul:before {
    background: #ed1b34;
    background-image: linear-gradient(-135deg,#ed1b34,#fff);
}
.readon:before {
    background: #9e0918;
}
.tc-header .tc-logo a, 
.tc-footer .tc-totopscroll, 
.tc-off-toggle {
	color: #ed1b34;
}
.tc-off-toggle:hover, .tc-off-toggle:focus {
	color: #bb1222;
}